[submodule "modules/epel"]
	path = modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "modules/consul"]
	path = modules/consul
	url = git@github.com:KrisBuytaert/puppet-consul.git
